body{
    margin: 0;
    padding-top: 0px;
    text-align: center;
  background-image: url(background.jpg);
   background-size: cover;
    
    
 }
 .titulo{
    color: white;
    font-size: 25px;
 }
 .conteinrs{
    text-align: center;
    color:rgb(255, 255, 255);
    display: inline-flex;
    flex-wrap: wrap;
    border: solid rgb(255, 255, 255);
    border-radius: 15px;

    
 }
 .card{
    background-color: black;
    border: solid white;
 }
 .menu{
    background-color:black;
     margin-top: 0%;
     top: 0%;
     border: solid black;
     border-radius: 10px;
     position: (center);
     
 }
 .subtitulo{
    background-color: rgb(3, 3, 3);
    color: rgb(255, 255, 255);
    font-size: 30px;
 }

 a{
     color: rgb(255, 255, 255);
     text-decoration: none;
 }
 .links{
     display: inline;
     padding-right: 50px;
     font-size: 35px;
     font-family: monospace
 
 }
 .links:hover{
     text-decoration: underline;
     font-size: 25px;
 }
 a:hover{
     color:rgb(255, 0, 0)
 }

 